/* Home
############################################################################ */

.home {
  padding: 0;

  /* Opener 
  ------------------------------------------------------------------------- */

  .opener {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding: var(--fluid-space-m);
      inset: 0;

      &::after{
        position: absolute;
        z-index: 1;
        background: linear-gradient(
          15deg,
          rgb(0 0 0 / 10%) 0%,
          rgb(0 0 0 / 80%) 100%
        );
        content: '';
        inset: 0;
      }

      h1 {
        position: sticky;
        z-index: 2;
        top: var(--fluid-space-l);
        max-width: 20ch;
        color: var(--color-lightest);
        font-size: clamp(var(--font-size-2xl), 10vw, calc(var(--font-size-2xl) * 5));
        font-weight: var(--font-weight-bold);
        hyphens: none;
        line-height: 100%;
        opacity: 0.6;
        text-align: right;
        text-shadow: 0 0 50px rgb(0 0 0 / 100%);
        text-transform: uppercase;
        text-wrap: balance;;

      }

    }

  }

  /* Intro Text
  ------------------------------------------------------------------------- */

  .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--fluid-space-xl) var(--fluid-space-m);

    & > * {
      max-width: calc(var(--max-width-content) * 1.5);
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-loose);
    }
  }
}


/* About Carousel
############################################################################# */

.about-carousel {
  position: relative;
    overflow: hidden;
  
  .carousel-wrapper{
    display: grid;
    width: 300%;
    grid-template-columns: repeat(3, 1fr);
    transition: all var(--transition-normal);

    .carousel-item{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .about-item{
    align-self: center;
    padding: var(--fluid-space-xl) calc(var(--font-size-4xl) + var(--fluid-space-m));
  }

  .about-item.text-image {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--fluid-space-m);

    &>* {
      width: 50%;
    }

    .image-stack {
      position: relative;
      display: grid;
              aspect-ratio: 1/1;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      img {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-m);
        animation: rotate-in 1s ease-in-out forwards;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
        grid-area: 1/1 / 2/ 2;
        object-fit: cover;
        transition: all var(--transition-normal);
      }

      &:hover img {
        &:nth-child(1) {
          transform: translateX(-160%) rotate(-10deg);
        }

        &:nth-child(2) {
          transform: translateX(-80%);
        }

        &:nth-child(3) {
          transform: translateX(20%) rotate(10deg);
        }
      }
    }

  }

  .about-item.text-image-simple {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--fluid-space-m);

    &>* {
      width: 50%;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    img{
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-m);
      box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
      object-fit: cover;
    }
  }

  .button-previous {
    position: absolute;
    top: 50%;
    left: 0;
  }

  .button-next {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .carousel-indicators{
    display: flex;
    justify-content: center;
    gap: var(--spacing-s);
    

    /* stylelint-disable-next-line no-descending-specificity */
    & > *{
      height: var(--spacing-s);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      background-color: var(--color-light);

      &.active{
        background-color: var(--color-primary-default);
      }
    }
  }
}