/* Infobox
############################################################################# */

.infobox {
  background-color: var(--color-background);
  border-left: solid var(--border-width-l) var(--color-accent);
  /* Gold border */
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);

  h3:first-child {
    font-weight: bold;
  }
}

/* Image with Caption
############################################################################# */

.image-with-caption {

  img {
    width: 100%;
    display: block;
  }

  figcaption {
    background-color: var(--color-background);
    padding: var(--spacing-m);
    font-size: 0.9rem;
    line-height: var(--line-height-tight);
  }
}

/* TOC
############################################################################# */

.toc {

  h2 {
    font-size: var(--font-size-xl);

  }

  ul {
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-xl);

    li {
      padding: var(--spacing-2xs);

      margin: 0;
      border-left: var(--border-width-m) solid var(--color-border);
      padding-left: var(--spacing-s);

      a {
        color: var(--color-text);
        text-decoration: none;
        opacity: 0.6;

      }

      &:hover {
        border-left-color: var(--color-accent);

        a {
          opacity: 1;
        }
      }
    }
  }