/* home
############################################################################ */

.home{

  .hero-image{

    position: relative;

    h1{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display:flex;
      justify-content: center;
      align-items: center;
      color: var(--color-lightest);

      font-size: clamp(2rem, 10vw, 10rem);
      font-weight: var(--font-weight-bold);
      text-align: center;
      line-height: var(--line-height-tighter);

      text-transform: uppercase;
      text-shadow: 0 0 10px hsl(0 0 0 / 1);
    }
  }

  main{
    padding: 0;
  }
}